@import "partials/fonts";
@import "variables";
@import "reset";

header{
    width: 100%;
    height: 200px;
    background-image: url('../media/reel2.png');
    background-position: 0;
    background-size: cover;
    padding: 30px;
    padding-left: 30px;
    .logopablo{
        height: 150px;
        margin: auto;}
    }

    