/* reset */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: basic;
    src: url(../fonts/Basic\ Light.ttf);
  
}



@font-face {
    font-family: basic;
    src: url(../fonts/Basic\ Light.ttf);
}


/* cabecera y menu */

header{
    width: 100%;
    height: 200px;
    background-image: url('../media/reel2.png');
    background-position: 0;
    background-size: cover;
    padding: 30px;
    padding-left: 30px;
}

.logopablo{
    height: 123px;
margin-bottom: 5px;}

.cabecera{
    color: white;
}

.navbar{
    background-color: rgb(255, 128, 0);
    padding: 20px;
    position: sticky;
    top: 0;
}
.navbar ul .nav-item{
    padding: 10px 20px;
    display: inline;
   
}

.nav-item a {
    color: white;
}

.navbar ul{
text-align: center;
color: white;
}

/* textos */

h1{
    color: rgb(80, 80, 80);
    text-align: center;
    padding: 20px;
   font-style: bold;
   font-weight: 2000;
}

h2#contacto{
    padding: 10px;

}

h2{
    color: rgb(150, 150, 150);
    text-align: center;

}

/* contenido */

.imgpagina{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 700px;
}

.videocontrol{
    margin: 40px;
}

.serviciosvideo{
    display: block;
    margin: auto;
}

.mapas{
    display: block;
    position: relative;
    width: 400px;
    margin-top: 20px;
}

.formulariocontacto{
    margin: 80px;
    padding: 20px;
}

.formulariocajatexto{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer */

.footer-container{
    background-color: rgb(255, 128, 0);
    padding: 20px;
}


.footertext{

text-align: center;
color: white;
}

